.container {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  right: 10px;
  top: 10px;
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;

   img {
    width: 22px;
   }
}